#aboutbody{	position:relative;
		
		height:auto;
		width:960px;
		margin 0px auto;
		background-color:red;
		
}
#slidecover{
		position:relative;
		top:50px;
		left:-150px;
		background-color:white;
}
#slides{
	left:100px;
	width:960px;
	left:10px;

}



#slides li{float:right;
	padding:5px;
}

#slide1{background:url("images/slide1.png")0 0;}
#slide2{background:url("images/slide2.png")0 0;}
#slide3{background:url("images/slide1.png")0 0;}
#slide4{background:url("images/slide2.png")0 0;}
#slide5{background:url("images/slide2.png")0 0;}

#slide1,#slide2,#slide3,#slide4,#slide5{

		width:200px;
		height:200px;
		color:white;
}

#slide1:hover,#slide2:hover,#slide3:hover,#slide4:hover,#slide5:hover{
	background-position: -200px 0px;
	width:200px;
	height:200px;
	text-indent:0px;
	-webkit-transition: all 0.3s ease;

}