@font-face{ font-family:Neosans;
            src="fonts/NeoSans.otf";
            }
 
#topnav ul {
    /* remove the list style and spaces*/
    margin:0; 
    padding:0; 
    list-style:none; 
    display:inline;
    padding-top:8px;
    color:white;
    
    /* position absolute so that z-index can be defined */
    position:absolute; 
    
    /* center the menu, depend on the width of you menu*/
    left:110px; 
    top:0; 
     
    /* should be higher than #box */
    z-index:100;
}
ul li a{
        } 
#topnav ul li {
     
    /* give some spaces between the list items */
    top:-10px;
    font-family:neosans; 
    margin:0 15px; 
    font-size:17px;
    /* display the list item in single row */
    float:left;
}
 
#topnav #box {
     
    /* position absolute so that z-index can be defined and able to move this item using javascript */
    position:absolute; 
    top:-2px;
     
    /* should be lower than the list menu */
    z-index:50; 
 
    /* image of the right rounded corner */
    background:#3f55c4; 
    height:36px;
     
    /* add padding 8px so that the tail would appear */
    padding-right:8px;
     
    /* self-adjust negative margin to make sure the box display in the center of the item */
    margin-left:-10px;
    box-shadow: 1px 1px 7px #000000;
    -moz-box-shadow: 1px 1px 7px #000000;
    -webkit-box-shadow: 1px 1px 7px #000000;
}
 
#topnav #box .head {
    /* image of the left rounded corner */
    background:#3f55c4;
    height:36px;

    /* self-adjust left padding to make sure the box display in the center of the item */
    padding-left:10px;
}


#topnav ul li span {
        
        font-size:14px !important;
	float: left;
	padding: 10px 0;
	position: absolute;
	left: 0;
	display: none; /*--Hide by default--*/
	width: 600px;
	background: RGBa(0,0,0,.5);
	color: #fff;
        z-index:0 !important;
	/*--Bottom right rounded corner--*/
	-moz-border-radius: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-radius: 5px;
	/*--Bottom left rounded corner--*/
	-moz-border-radius: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-radius: 5px;
        -webkit-transition: all 0.6s ease;
}
#topnav ul li:hover span { display: block; } /*--Show subnav on hover--*/
#topnav ul li span a { display: inline; } /*--Since we declared a link style on the parent list link, we will correct it back to its original state--*/



#topnav ul li {
	float: left;
	
}
#topnav li a {
	padding-bottom: 5px;
        padding-top: 0px;
        margin-bottom:5px;
	display: block;
	color: #f0f0f0;
	text-decoration: none;
        text-decoration:none;  
}